node_modules/

# don't commit generated builds or env files
src/server/zmcdfiles/
node_modules/
dist/
build/
archive/
.vscode/
.env

# but commit the empty folders
!sessions/.gitkeep
!cache-js/.gitkeep

# ignore any custom configurations
